.card{
  max-width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(47, 193, 255, 0.527);
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
}

img{
  height: 100px;
  width: 90px;
}

p{
  margin-top: 20px;
  margin-bottom: 8px ;
  border-radius: 10px;
  text-align:start;
  background-color: rgb(255, 195, 93);
  padding: 10px;
}